<%= render 'layouts/result_header' %>
<div class="content">
  <div class="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<h1>New Result</h1>

<%= render 'form' %>
</div>
</div>
