<%= render 'layouts/schedule_header' %>
<div class="content">
  <div class="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="calender">
  <h1>SUCHEDULE</h1>
<iframe src="https://calendar.google.com/calendar/embed?src=8r0khpr72ir53q2fc1qceuhci0%40group.calendar.google.com&ctz=Asia/Tokyo" style="border: 0" width="80%" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</div>
</div>
